<div class="row">
        <div class="span11" style="overflow: auto">
            <div class="thumbnail">

                <div class="row-fluid">
                    <% @api.each do || %>
                    <div class="col-lg-3">
                        <h4><%= api.name %></h4>
                        <h5><%= api.support %></h5>
                        <h5><%= api.paid %></h5>
                        <h5><%= api.url %></h5>
                        <h5><%= api.authentication %></h5>
                        <h5><%= api.deprecated %></h5>
                        <h5><%= api.tools.count %></h5>
                        <h5><%= api.category %></h5>
                        <h5><%= api.rating %></h5>
                        <h6><%= api.rating.install %></h6>
                        <h6><%= api.rating.readability %></h6>
                        <h6><%= api.rating.technicality %></h6>
                        <div class="caption">
                            <label for="comment"></label>
                            <textarea class="form-control" rows="5" id="comment"><%= api.about%>...</textarea>
                        </div>
                        <!-- <div class="btn more">
                            <%= link_to "More Details", api_path(api) %>
                        </div> -->
                    </div>
                    <% end %>
                </div>
                <br>
            </div>
        </div>
