<div class="row">
        <div class="span11" style="overflow: auto">
            <div class="thumbnail">

                <div class="row-fluid">
                    <% @api.each do || %>
                    <div class="col-lg-3">
                        <div><%= api.name %></div>
                        <div><%= api.support %></>
                        <div><%= api.paid %></div>
                        <div><%= api.url %></div>
                        <div><%= api.authentication %></div>
                        <div><%= api.deprecated %></div>
                        <div><%= api.tools.count %></div>
                        <div><%= api.category %></div>
                        <div><%= api.rating %></div>
                        <div><%= api.rating.install %></div>
                        <div><%= api.rating.readability %></div>
                        <div><%= api.rating.technicality %></div>
                        <div class="caption">
                            <label for="comment"></label>
                            <textarea class="form-control" rows="5" id="comment"><%= api.about%>...</textarea>
                        </div>
                        <!-- <div class="btn more">
                            <%= link_to "More Details", api_path(api) %>
                        </div> -->
                    </div>
                    <% end %>
                </div>
                <br>
            </div>
        </div>
