<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head  %>
  </head>
  <body>
    <%- include ../partials/header %>
    <div>
          <% apis.forEach(function(api) { %>
          <div class="container">
              <div>Name: <%= api.name %></div>
              <div><%= api.about %></div>
              <div><%= api.url %></div>
              <div><%= api._id %></div>
              <div><%= api.support %></div>
              <div><%= api.free %></div>
              <div><%= api.authentication %></div>
              <div><%= api.deprecated %></div>
              <div><%= api.tools %></div>
              <div><%= api.category %></div>
              <div><%= api.install %></div>
              <div><%= api.readability %></div>
              <div><%= api.technicality %></div>
              <button class="delBtn">Delete</button>
          </div>
          <a href="/apis/<%- api._id %>">Show more</a>
<br>
          <% }) %>
    </div>
    <a href="/apis/new">Create new Api</a>
    <%- include ../partials/footer %>
  </body>
</html>
