<!DOCTYPE html>
<html lang="en">
  <head>
      <%- include ../partials/head  %>
  </head>
  <body>
    <%- include ../partials/header %>

  <div class="container">
    <% if(user && user.admin) { %>
    <a href="/new" class="btn btn-primary">Create new Api</a>

    <% } %>
<hr>

    <% apis.forEach(function(api) { %>




        <div class="row">

          <div class="col-lg-4 col-md-4 col-sm-4 mb">
        <!-- WHITE PANEL - TOP USER -->
            <div class="white-panel pn">
              <div class="white-header">
                <h5>

                  <!-- stars for OVERALL RATING -->
                  <% if (Math.round((api.install + api.readability + api.technicality)/3) === 1) { %>
                  <div class="margin"><label class="overallRating-star">Overall Rating ⭐️ </label></div>
                  <% } else if (Math.round((api.install + api.readability + api.technicality)/3) === 2) { %>
                  <div class="margin"><label class="overallRating-star">Overall Rating ⭐️ ⭐️  </label></div>
                  <% } else if (Math.round((api.install + api.readability + api.technicality)/3) === 3) { %>
                  <div class="margin"><label class="overallRating-star">Overall Rating ⭐️ ⭐️ ⭐️</label></div>
                  <% } else if (Math.round((api.install + api.readability + api.technicality)/3) === 4) { %>
                  <div class="margin"><label class="overallRating-star">Overall Rating ⭐️ ⭐️ ⭐️ ⭐️ </label></div>
                  <% } else if (Math.round((api.install + api.readability + api.technicality)/3) === 5) { %>
                  <div class="margin"><label class="overallRating-star">Overall Rating ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ </label></div>
                  <% } %>
                  <!-- ======================================= -->

                </h5>
              </div>

              <p>

                <% if (user) {%>
                  <button data-target="<%= api._id %>" class="favoriteButton" type="button"><img id="starButton2" src="http://img.freepik.com/free-vector/vinyl-disc_1021-30.jpg?size=338&ext=jpg"></button>
                <% } %>

              </p>

              <p><b><div id=apiname> <%= api.name %> </div></b></p>
                <div class="row">
                  <div class="col-md-6">
                    <p class="small mt">
                      <% if (api.install === 1) { %>
                      <div class="margin"><label class="install-star">Install Rating ⭐️ </label></div>
                      <% } else if (api.install === 2) { %>
                      <div class="margin"><label class="install-star">Install Rating ⭐️ ⭐️  </label></div>
                      <% } else if (api.install === 3) { %>
                      <div class="margin"><label class="install-star">Install Rating ⭐️ ⭐️ ⭐️</label></div>
                      <% } else if (api.install === 4) { %>
                      <div class="margin"><label class="install-star">Install Rating ⭐️ ⭐️ ⭐️ ⭐️ </label></div>
                      <% } else if (api.install === 5) { %>
                      <div class="margin"><label class="install-star">Install Rating ⭐️ ⭐️ ⭐️ ⭐️ ⭐️  </label></div>
                      <% } %>
                      <!-- ======================================= -->
                    </p>
                    <!-- <p>2012</p> -->
                  </div>
                  <div class="col-md-6">
                    <p class="small mt">
                      <!-- stars for READABILITY RATING -->
                      <% if (api.readability === 1) { %>
                      <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ </span></div>
                      <% } else if (api.readability === 2) { %>
                      <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ </span></div>
                      <% } else if (api.readability === 3) { %>
                      <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ ⭐️ </span></div>
                      <% } else if (api.readability === 4) { %>
                      <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
                      <% } else if (api.readability === 5) { %>
                      <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
                      <% } %>
                      <!-- ======================================= -->


                    </p>
                    <!-- <p>2012</p> -->
                  </div>
                  <div class="col-md-6">
                    <p class="small mt">

                      <% if (api.technicality === 1) { %>
                      <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ </span></div>
                      <% } else if (api.technicality === 2) { %>
                      <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ </span></div>
                      <% } else if (api.technicality === 3) { %>
                      <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ ⭐️ </span></div>
                      <% } else if (api.technicality === 4) { %>
                      <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
                      <% } else if (api.technicality === 5) { %>
                      <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
                      <% } %>
                      <!-- ======================================= -->


                    </p>
                    <!-- <p>2012</p> -->
                  </div>
                </div>
            </div>
          </div><!-- /col-md-4 -->
        </div>
        <br>
        <% if(user && user.admin) { %>
          <a class="btn btn-primary" href="/<%- api._id%>/edit">Edit</a>
          <button class="btn btn-primary delBtn" id="<%= api._id %>">Delete</button>
          <% } %>
          <a class="btn btn-primary" href="/<%- api._id %>">Show more</a>
        <% }) %>
  </div>

      <!--main content end-->


    <%- include ../partials/footer %>

  </body>
</html>
