<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head')  %>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">

          <% apis.forEach(function(api) { %>
            <% if (user) {%>
            <button data-target="<%= api._id %>" class="favoriteButton" type="button"><img id="starButton2" src="http://img.freepik.com/free-vector/vinyl-disc_1021-30.jpg?size=338&ext=jpg"></button>
            <% } %>
            <div class="indexCss">


              <div id=apiname> <%= api.name %></div>
              <div class="margin"><label>About:</label> <%= api.about %></div>
              <div class="margin"><label>URL: </label> <a href="<%= api.url %>">Click to access API documentation</a></div>
              <div class="margin"><label>Support provided: </label> <%= api.support %></div>
              <div class="margin"><label>Free: </label> <%= api.free %></div>
              <div class="margin"><label>Authentication offered: </label> <%= api.authentication %></div>
              <div class="margin"><label>Deprecated: </label> <%= api.deprecated %></div>
              <div class="margin"><label>Number of tools offered: </label> <%= api.tools %></div>
              <div class="margin"><label>Category: </label> <%= api.category %></div>
              <div class="margin"><label>Overall Rating: </label> <%= api.overallRating %></div>
              <div class="margin"><label>Install Rating: </label> <span class="install-star"> <%= api.install %> </span></div>
              <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> <%= api.readability %> </span></div>
              <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> <%= api.technicality %></span></div>
              <button class="delBtn" id="<%= api._id %>">Delete</button>
              <a href="/<%- api._id %>">Show more</a>

          </div>
<br>
          <% }) %>
    </div>
    <a href="/new">Create new Api</a>
    <%- include ../partials/footer %>
  </body>
</html>
