<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head  %>
  </head>
  <body>
    <%- include ../partials/header %>
    <div class="container">
          <div class="">
              <h3><%= api.name %></div></h3>
              <div><%= api.about %></div>
              <br>
              <div><label>URL: </label> <a href="<%= api.url %>">Click to access API documentation</a></div>
              <br>
              <div><label>Support provided: </label> <%= api.support %></div>
              <div><label>Free: </label> <%= api.free %></div>
              <div><label>Authentication offered: </label> <%= api.authentication %></div>
              <div><label>Deprecated: </label> <%= api.deprecated %></div>
              <div><label>Number of tools offered: </label> <%= api.tools %></div>
              <div><label>Category: </label> <%= api.category %></div>
              <div><label>Overall Rating: </label> <%= api.overallRating %></div>
              <!-- ======================================= -->
              <!-- <div class="margin"><label>Install Rating: </label> <span class="install-star"> <%= api.install %> </span></div> -->
              <!-- stars for INSTALL RATING -->
              <% if (api.install === 1) { %>
              <div class="margin"><label>Install Rating: </label> <span class="install-star"> ⭐️ </span></div>
              <% } else if (api.install === 2) { %>
              <div class="margin"><label>Install Rating: </label> <span class="install-star"> ⭐️ ⭐️ </span></div>
              <% } else if (api.install === 3) { %>
              <div class="margin"><label>Install Rating: </label> <span class="install-star"> ⭐️ ⭐️ ⭐️ </span></div>
              <% } else if (api.install === 4) { %>
              <div class="margin"><label>Install Rating: </label> <span class="install-star"> ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
              <% } else if (api.install === 5) { %>
              <div class="margin"><label>Install Rating: </label> <span class="install-star"> ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
              <% } %>
              <!-- ======================================= -->
              <!-- <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> <%= api.readability %> </span></div> -->
              <!-- stars for READABILITY RATING -->
              <% if (api.readability === 1) { %>
              <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ </span></div>
              <% } else if (api.readability === 2) { %>
              <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ </span></div>
              <% } else if (api.readability === 3) { %>
              <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ ⭐️ </span></div>
              <% } else if (api.readability === 4) { %>
              <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
              <% } else if (api.readability === 5) { %>
              <div class="margin"><label>Readability Rating: </label> <span class="readability-star"> ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
              <% } %>
              <!-- ======================================= -->
              <!-- <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> <%= api.technicality %></span></div> -->
              <!-- stars for TECHNICALITY RATING -->
              <% if (api.technicality === 1) { %>
              <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ </span></div>
              <% } else if (api.technicality === 2) { %>
              <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ </span></div>
              <% } else if (api.technicality === 3) { %>
              <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ ⭐️ </span></div>
              <% } else if (api.technicality === 4) { %>
              <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
              <% } else if (api.technicality === 5) { %>
              <div class="margin"><label>Technicality Rating: </label> <span class="technicality-star"> ⭐️ ⭐️ ⭐️ ⭐️ ⭐️ </span></div>
              <% } %>
              <!-- ======================================= -->
          </div>
          <a href="/<%- api._id%>/edit">Edit</a>
          <a href="/">Back</a>
    </div>
    <%- include ../partials/footer %>
  </body>
</html>
