<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head  %>
  </head>
  <body>
    <%- include ../partials/header %>
    <div class="container">
          <div class="">
              <h3><%= api.name %></div></h3>
              <div><%= api.about %></div>
              <br>
              <div><label>URL: </label> <a href="<%= api.url %>">Click to access API documentation</a></div>
              <br>
              <div><label>Support provided: </label> <%= api.support %></div>
              <div><label>Free: </label> <%= api.free %></div>
              <div><label>Authentication offered: </label> <%= api.authentication %></div>
              <div><label>Deprecated: </label> <%= api.deprecated %></div>
              <div><label>Tools: </label> <%= api.tools %></div>
              <div><label>Category: </label> <%= api.category %></div>
              <div><label>Rating: </label> <%= api.install %></div>
              <div><label>Readability Rating: </label> <%= api.readability %></div>
              <div><label>Technicality Rating: </label> <%= api.technicality %></div>
          </div>
          <a href="/apis/<%- api._id%>/edit">Edit</a>
          <a href="/apis">Back</a>
    </div>
    <%- include ../partials/footer %>
  </body>
</html>
