<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head  %>
  </head>
  <body>
    <%- include ../partials/header %>
    <div class="container">
          <div class="">
              <div><%= api.name %></div>
              <div><%= api.about %></div>
              <div><%= api.url %></div>
              <div><%= api.support %></div>
              <div><%= api.free %></div>
              <div><%= api.authentication %></div>
              <div><%= api.deprecated %></div>
              <div><%= api.tools %></div>
              <div><%= api.category %></div>
              <div><%= api.install %></div>
              <div><%= api.readability %></div>
              <div><%= api.technicality %></div>
          </div>
          <a href="/apis/<%- api._id%>/edit">Edit</a>
          <button class="delBtn">Delete</button>
          <a href="/apis">Back</a>
    </div>
    <%- include ../partials/footer %>
  </body>
</html>
