<!DOCTYPE html>
<html>
    <head>
        <%- include ../partials/head %>
    </head>
    <body>
      <%- include ../partials/header %>
      <div class="container">
      <h1>Edit Profile</h1>
      <form action="/users/<%= userProfile._id %>" method="POST">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" name='name' value="<%- userProfile.local.name %>" placeholder="Name" class="form-control">
        </div>
        <div class="form-group">
          <label>Email:</label>
          <input type="text" name='email' value="<%- userProfile.local.email %>" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
          <label>Experience Level:</label>
          <select name="expLevel" value="<%- userProfile.expLevel %>" class="form-control">
            <%
            var options = [ "Beginner", "Intermediate", "Advanced" ];
            for ( var i = 0; i < options.length; i++ )
            {
              var selected = ( userProfile.expLevel == options[i] ) ? "selected" : "";
              %><option value="<%=options[i] %>" <%=selected %>><%= options[i] %></option><%
            }
            %>
          </select>
        </div>
        <div class="form-group">
          <input type="submit" value='Update User'>
        </div>
        <a class="btn btn-primary"href="/users/<%- userProfile._id%>">Back</a>

      </form>

      <%- include ../partials/footer.ejs %>
      </div>
    </body>
</html>
