<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head')  %>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">

          <% users.forEach(function(user) { %>

          <div class="indexCss">
              <div class="margin"><label>Name:</label> <%= user.local.name %></div>
              <div class="margin"><label>Id:</label> <%= user._id %></div>
              <div class="margin"><label>Experience Level: </label> <%= user.expLevel %></div>
              <div class="margin"><label>Email: </label> <%= user.local.email %></div>

              <button class="userDelBtn" id="<%= user._id %>">Delete</button>
              <button id="<%= user._id %>"><a href="/users/<%- user._id %>">Show more</a></button>


          </div>
<br>
          <% }) %>
    </div>

    <%- include ../partials/footer %>
  </body>
</html>
