<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head  %>
  </head>
  <body>
    <%- include ../partials/header %>
    <div class="container">

          <div>
              <h3><%= userProfile.local.name %></div></h3>
              <br>
              <div><label>Experience Level: </label> <%= userProfile.expLevel %></div>
              <br>
              <div><label>Favorites: </label>
                <% userProfile.favorites.forEach(function(favorite) {  %>
                <%= favorite.name  %>
              <%  }) %>
            </div>

          <a href="/users/<%- userProfile._id%>/edit">Edit</a>
          <a href="/">Back</a>
    </div>
    <%- include ../partials/footer %>
  </body>
</html>
