<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/head  %>
  </head>
  <body>
    <%- include ../partials/header %>

    <div class="container">

          <div id="profileName"><%= userProfile.local.name %></div>
          <a href="/users/<%- userProfile._id%>/edit" id="editUser">Edit User</a>
              <br>
              <div class="profileTitles"><label class="profileText">Experience Level: </label>
                <p class="indent"><%= userProfile.expLevel %></div></p>
              <div class="profileTitles"><label class="profileText">Contact Info: </label>
                <p class="indent"><%= userProfile.local.email %></div></p>
              <div class="profileTitles"><label class="profileText">Favorites: </label>
                <p class="indent"><% userProfile.favorites.forEach(function(favorite) {  %></p>
                <p class="indent3"><%= favorite.name + ":"%></p>

                <p class="indent2">Url : <a href="<%= favorite.url %>"><%= favorite.url %></a></p>
                <p class="indent2"><%= "Category : " + favorite.category %></p>
                <p class="indent2"><%= "About : " + favorite.about %></p>
                <p class="indent2">See More : <a href="/<%= favorite.id %>"><%= favorite.name %></a></p>

              <%  }) %>
            </div>

            <br>
            <br>
            <br>

          <a href="/" id="backUser">Back to list</a>

    </div>
    <%- include ../partials/footer %>
  </body>
</html>
